// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variables
$primary-color: #088178;
$secondary-color: #fff;
$tertiary-color: #000;
$font-color: #465b52;
$border-color: #cce7d0;
$font-family: "Spartan", sans-serif;
$padding-large: 40px 80px;
$padding-medium: 15px;
$transition: 0.2s ease;

// Mixins
@mixin button-style($font-size,$font-weight,$padding,$bg-color,$text-color) {
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: $transition;
}

@mixin section-padding {
    padding: $padding-large;
}

// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

h1,
h2,
h4,
h6,
p {
    color: $tertiary-color;
    h1 {
    font-size: 50px;
    line-height: 64px;
}
h2 {
    font-size: 46px;
    line-height: 54px;
}
h4 {
    font-size: 20px;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: $font-color;
    margin: 15px 0 20px 0;
}
}

// Section Padding
.section-p1,
.section-m1 {
    @include section-padding;
}

// Button Styles
button {
    &.normal {
    @include button-style(
        14px,
        600,
        15px 30px,
        $secondary-color,
        $tertiary-color
    );
}
&.white {
    @include button-style(13px, 600, 11px 18px, transparent, $secondary-color);
    border: 1px solid $secondary-color;
    cursor: pointer;
    outline: none;
}
}

// Navbar Section
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
    position: sticky;
    padding: 20px 80px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    li {
    padding: 0 20px;
    position: relative;

    a {
        text-decoration: none;
        color: $tertiary-color;
        font-size: 16px;
        font-weight: 600;
        
        &:hover,
        &.active {
        color: $primary-color;

        &::after {
            content: "";
            width: 30%;
            height: 2px;
            background: $primary-color;
            position: absolute;
            bottom: -4px;
            left: 20px;
        }
    }
    }
}
}

// Hero Section
#hero {
    background-image: url(/images/hero4.png);
    background-size: cover;
    width: 100%;
    height: 90vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    h4 {
    padding-bottom: 15px;
}
h1 {
    color: $primary-color;
}
button {
    background-image: url(/images/button.png);
    background-color: transparent;
    color: $primary-color;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
}

// Feature Section
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
}

#feature .fe-box{
    border: 1px solid #CCE7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    text-align: center;
    width: 180px;
    padding: 25px 15px;
    margin: 15px 0;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

// Products Section
#product1 {
    text-align: center;
    
    .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid $border-color;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: $transition;
    position: relative;

    img {
        width: 100%;
        border-radius: 20px;
    }

    .des {
        text-align: start;
        padding: 10px 0;
        
        span {
        color: #606063;
        font-size: 12px;
    }
    h5 {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 14px;
    }
    i {
        font-size: 12px;
        color: rgb(243, 181, 25);
    }
    h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: $primary-color;
    }
    }

    .cart {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: #e8f6ea;
        font-weight: 500;
        color: $primary-color;
        border: 1px solid $border-color;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
}
}

// Banner Section
#banner {
    background-image: url(/images/banner/b2.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    h4 {
    color: #fff;
    font-size: 16px;
}
h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    span {
        color: #ef3636;
    }
}
}

// Crazy Deal Banner Section
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .banner-box {
    background-image: url(/images/banner/b17.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-width: 850px;
    height: 50vh;
    padding: 30px;

    h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 800;
    }

    span {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    &:nth-child(2) {
        background-image: url(/images/banner/b10.jpg);
    }

    &:hover button {
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}
}

// Season Banner Section
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    
    .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-size: cover;
    background-position: center;
    min-width: 30%;
    height: 30vh;
    padding: 30px;
    margin-bottom: 20px;

    &:nth-child(1) {
        background-image: url(/images/banner/b7.jpg);
    }

    &:nth-child(2) {
        background-image: url(/images/banner/b4.jpg);
    }

    &:nth-child(3) {
        background-image: url(/images/banner/b18.jpg);
    }
}
h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
}

// News Letter
#newsletter {
    background-image: url(/images/banner/b14.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

    h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

    p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;

    span {
        color: #ffbd27;
    }
}
.form {
    display: flex;
    width: 40%;

    input {
        height: 3.125rem;
        padding: 0 1.25rem;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button {
        background-color: $primary-color;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
}

// Footer
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    .logo {
        margin-bottom: 30px;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    a {
        font-size: 13px;
        text-decoration: none;
        color: $tertiary-color;
        margin: 0 0 10px 0;
    }

    .follow {
        margin-top: 20px;

    i {
        color: $font-color;
        padding-right: 4px;
        cursor: pointer;
    }
    }
}
.install .row img {
    border: 1px solid $primary-color;
    border-radius: 6px;
    margin: 10px 0 15px 0;
}

.follow i:hover,
a:hover {
    color: $primary-color;
}
.copyright {
    width: 100%;
    text-align: center;
}
}

// Shop Page
#page-header {
    background-image: url(/images/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

    h2,
    p {
    color: #fff;
}
}

#pagination {
    text-align: center;
    
    a {
    text-decoration: none;
    background-color: $primary-color;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

    i {
        font-size: 16px;
        font-weight: 600;
    }
}
}

// Blog Page
#page-header.blog-header {
    background-image: url(/images/banner/b19.jpg);
}

#blog {
    padding: 150px 150px 0 150px;

    .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;

    .blog-img {
        width: 50%;
        margin-right: 40px;

        img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        }
    }

    .blog-details {
        width: 50%;

        a {
        text-decoration: none;
        font-size: 11px;
        color: $tertiary-color;
        font-weight: 700;
        position: relative;
        transition: 0.3s;

        &::after {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $tertiary-color;
            position: absolute;
            top: 4px;
            right: -60px;
        }

        &:hover {
        color: $primary-color;

        &::after {
        background-color: $primary-color;
        }
        }
    }

    h1 {
        position: absolute;
        top: -40px;
        left: 0;
        font-size: 70px;
        font-weight: 700;
        color: #c9cbce;
        z-index: -9;
    }
    }
}
}

// About Page
#page-header.about-header {
    background-image: url(/images/about/banner.png);
}

#about-head {
    display: flex;
    align-items: center;

img {
    width: 50%;
    height: auto;
}

div {
    padding-left: 40px;
}
}

#about-app {
    text-align: center;

.video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;

    video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    }
}
}

// Contact Page
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .details {
    width: 40%;

    span,
    #form-details form span {
        font-size: 12px;
    }

    h2,
    #form-details form h2 {
        font-size: 26px;
        line-height: 35px;
        padding: 20px 0;
    }

    h3 {
        font-size: 16px;
        padding-bottom: 15px;
    }

    li {
        list-style: none;
        display: flex;
        padding: 10px 0;
        align-items: center;
        
        i {
        font-size: 14px;
        padding-right: 22px;
    }
    p {
        margin: 0;
        font-size: 14px;
    }
    }
}
.map {
    width: 55%;
    height: 400px;
    
    iframe {
    width: 100%;
    height: 100%;
    }
}
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;

    form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input,
    textarea {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }

    button {
        background-color: $primary-color;
        color: #fff;
    }
}

.people {
    div {
        padding-bottom: 25px;
        display: flex;
        align-items: flex-start;
        
        img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        margin-right: 15px;
    }
    
    p {
        margin: 0;
        font-size: 13px;
        line-height: 25px;
    }
    span {
        display: block;
        color: $tertiary-color;
        font-size: 16px;
        font-weight: 600;
    }
    }
}
}
